 
<div class="login">
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
 
      <div class="main">
        
       <div class="lgn">
        <h4>Login To Your Account</h4>
      <label class="label">Email:</label>
      <input class="txt" type="text" placeholder="Enter Email Here..." name="mail" formControlName="mail" ngModel />
      <br>
      <span class="spn" style="color:red;" *ngIf="user && user.invalid && user.touched">Email Can't Be Blank!  </span>
      <br>
     <label class="label1">Passowrd:</label>
    <input  class="txt" type="password" placeholder="Enter Passowrd Here..." name="Password" formControlName="Password" ngModel/>
 
      <span class="spn" style="color:red;" *ngIf="Password && Password.invalid && Password.touched">Please Enter Proper Password!</span>
       <br>
       <a class="hrf" href="#">Forget Password?</a>
      <button style="margin-top: 40px;" class="btn"  >LOGIN</button>
      <br>
      <a class="sgn" routerLink="../regi">Don't Have Account? Sign Up </a>
      <p class="p">OR Login With:</p>
    <img class="png" src="https://cdn-icons-png.flaticon.com/128/733/733547.png" height="30px" width="30px">
    <img class="png" src="https://cdn-icons-png.flaticon.com/128/732/732200.png" height="30px" width="30px">
    <img class="png" src="https://cdn-icons-png.flaticon.com/128/3256/3256013.png" height="30px" width="30px">
    </div> 
    </div>
    </form>
    </div>  
    <router-outlet></router-outlet>
    
    
    
