<div class="main">
   <img class="img" src="https://cdn-icons-png.flaticon.com/128/9349/9349830.png" height="20px" width="20px" />
   <div class="list">
    <!-- <a id="li" routerLink="">Home</a>
    <a id="li" routerLink="login">Login</a>
    <a id="li" routerLink="regi">Register</a> -->
    <a class="nav-link nav-link-ltr" routerLink="">Home</a>
    <a class="nav-link nav-link-ltr" routerLink="login">Login</a>
    <a class="nav-link nav-link-ltr" routerLink="regi">Register</a>
   </div> 

</div>


 
